.calendar {
	display: grid;
	grid-template-columns: repeat(7, 7vw);
	max-width: 70vw;
	margin: 0 auto;
	font-family: Arial, sans-serif;
}

.calendar-week {
	display: grid;
	grid-template-columns: repeat(4, 12vw);
	max-width: 70vw;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	padding-top: 20px;
}

.calendar-monthly {
	display: grid;
	grid-template-columns: repeat(4, 13.5vw);
	max-width: 70vw;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	padding-top: 20px;
}

.calendar-header {
	font-size: 27px;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 0px 10px 0px;
}

.calendar-cell {
	width: 7vw;
	height: 65px;
	background-color: #f2f3f7;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: "500";
	border: 0.1rem solid #cccccc6c;
}

.calendar-cell-dot {
	width: 7vw;
	height: 65px;
	border: 0.1rem solid #cccccc6c;
	position: absolute;
}

.event-dot {
	width: 7vw;
	height: 65px;
	background-color: #f2f3f7;
	display: "flex";
	flex-direction: "row";
	align-items: center;
	justify-content: center;
	font-weight: "500";
	border: 0.1rem solid #cccccc6c;
}

.calendar-week-cell {
	width: 12vw;
	height: 70px;
	background-color: #f2f3f7;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: "500";
	border: 0.1rem solid #cccccc6c;
}

.calendar-cell-monthly {
	width: 13.5vw;
	height: 70px;
	background-color: #f2f3f7;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: "500";
	border: 0.1rem solid #cccccc6c;
}

.days {
	width: 7vw;
	height: 50px;
	background-color: "white";
	display: flex;
	align-items: center;
	justify-content: center;
}

.diagnaol-box-1 {
	left: 0;
	clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

.diagnaol-box-2 {
	left: 0;
	clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}

.blue {
	background-color: #42a5f5;
	color: white;
	cursor: pointer;
}

.green {
	background-color: #4caf50;
	color: white;
	cursor: pointer;
}

.red {
	background-color: #f44336;
	color: white;
	cursor: pointer;
}

.greyed-out {
	color: #ccc;
	background-color: #f2f3f7;
}
